.tableContainer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0 0;
  background-color: #fff;
  margin: 20px;
}

.tableBox {
  margin: 20px;
  padding: 10px;
  height: 480px;
  width: "100%";
}
